
:root{
    --bg-color: #290D29; /*rgb(20,0,30)*/
    --accent-color: #3D8979; /*orange: #F8B195*/ /*turquoise: #57C3AD*/ /*pink: #F6D7E8*/
    --accent-shadow: #2C6357; /*orange: #AE7C68*/ /*turquoise: #3D8979*/ /*pink: #DDC2D1*/
    --text-color: #F6D7E8;
    --header-color: #BB81A1;
    --font: "Marcellus SC";
}


h1 {
    color: var(--accent-color); 
    font-size: 150px;
    font-family: var(--font);
    text-align: center;
	text-shadow: 5px 3px 0px var(--accent-shadow); 
    margin: 10px 0px 0px 0px;
    user-select: none;
    position: relative;
}

body {
    background: var(--bg-color); 
    background-image: url(../img/icon.svg);
    background-position: 0px 85px;
    background-size: 100% 100%;
    background-attachment: fixed;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5px;
    padding-top: 2px;
    background-image:
        linear-gradient(to right,
            #854D8530 0%,
            #75367570 20%,
            #66206680 35%,
            #66206680 /*rgba(240, 20, 155, 0.2)*/ 65%,
            #75367570 /*rgba(240, 20, 155, 0.3)*/ 80%,
            #854D8530 /*rgba(240, 20, 155, 0.7)*/ 100%
        );
    font-size: 250%;
    font-family: var(--font);
    color: var(--text-color);
    text-align: center;
}

.panel {
    font-family: var(--font);
    color: var(--text-color);
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #521A5285 /*rgba(240, 20, 155, 0.15)*/;
}

.panel-header {
    font-family: var(--font);
    color: var(--header-color); 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 48.75% 48.75%;
    column-gap: 2.5%;
}
